body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 1.5
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header{
    background-image: linear-gradient(-90deg,#780206, #061161);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}
header h1{
    color: white
}
header nav{
    float: right;
}

#logo{
    float: left;
}

#logo a{
    text-decoration: none;
}

ul{
    padding-top: 30px;
    margin: 0
}

header ul li{
    display: inline;
    padding: 0 10px 0 10px
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

header ul li a:hover{
    color: #d2cece;
}

header .menu{
    display: none;
}

.close{
    display: none;
}

.navbar{
    display: none;
}

.intro{
    background-color: #061161;
    width: 60%;
    top: 74px;
    position: fixed;
    left: 0px;
    color: white;
    bottom: 0px;
}

.intro p{
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.5;
}
section button{
    background-image: linear-gradient(-90deg, #061161, #780206);
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    outline: none
}
section button:hover{
    font-weight: bold;
}

#welcome{
    padding-top: 180px;
    padding-left: 30px
}

.right-side{
    width: 40%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    top:74px;
}

.right-side img{
    width: 100%;
    height: 100%;
}

#photo{
    width: 100%;
    height: 100%;
}

/*Sign up*/

.signup{
    background: linear-gradient(rgba(23, 2, 143, 0.9), rgba(36, 2, 139, 0.9));
    background-size: cover;
    position: absolute;
    color: white;
    width: 100%;
    left: 0;
    top: 74px;
    min-height: 89%;
}

#allForm{
    position: absolute;
    right: 450px;
    top: 40px;
    width: 35%;
    background: white;
    border-radius: 8px;
    border: 0;
    box-shadow: none !important
}
#allForm h2{
    background-color: #061161;
    margin-top:0;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
}

#allForm .inputBox{
    position: relative;
}

#allForm .inputBox input{
    width: 80%;
    margin-left: 30px;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #061161;
    margin-bottom: 7px;
    outline: none;
    border: none;
    border-bottom: 1px solid #bfc0c4;
    background-color: transparent;
    
   }

#allForm .inputBox select{
    width: 89%;
    margin-left: 30px;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #061161;
    margin-bottom: 7px;
    outline: none;
    border: none;
    border: 1px solid #bfc0c4;
    background-color: transparent;
   }  

#allForm .inputBox label{
    position: absolute;
    left: 30px;
    top: 0;
    padding: 15px 0;
    font-size: 20px;
    color: #061161;
    pointer-events: none;
    transition: .6s;
}

#allForm .inputBox input:focus ~ label,
#allForm .inputBox input:valid ~ label

{
    top: -12px;
    left: 30px;
    font-size: 14px;
}

#allForm input[type="submit"]{
    background: #061161;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #fff;
    width: 95%;
    outline: none;
}

#allForm input[type="submit"]:hover{
    background-color: rgb(47, 47, 206);
}

/*Sign in page*/

.signin{
    background: linear-gradient(rgba(23, 2, 143, 0.9), rgba(36, 2, 139, 0.9));
    background-size: cover;
    position: absolute;
    color: white;
    width: 100%;
    left: 0;
    top: 74px;
    min-height: 89%;
}

/*Media queries*/
@media(max-width: 768px){
    .container{
        width: 90%;
        margin: auto;
    }
    .intro{
        width: 100%;
        position: absolute;
        z-index: 0;

    }
    .right-side{
        display: none;
    }
    header .menu{
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 17px; 
    }

    header .menu img{
        width: 100%;
        height: 100%
    }

    header nav ul li{
        display: none;
    }

    .navbar {
        display: block;
        background:#061161;
        width: 45%;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
       transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -webkit-transition: transform 0.6s ease;
        transition: transform 0.5s ease;
        
    }

    .admin-nav-side{
        display: block;
        margin-top: 20px;
        color: #fff;
        font-size: 21px;
    }

    .navbar ul{
        margin-top: 60px;
        margin-left: 20px;
    }
    .navbar a{
        text-decoration: none;
    }

    .close{
        display: block;
        margin: 10px;
        font-size: 25px;
        right: 0;
        top: 0;
        cursor: pointer;
        position: fixed;
        border: 1px solid #fff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        color: white
        
    }

    /*Sign-up page*/
    #allForm{
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        top:0;
        bottom: 0
    }
    .signup{
        min-height: 88%;
        overflow: hidden;
    }

    /*Sign-in page*/
    #allForm{
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        top:0;
        bottom: 0
    }
    .signin{
        min-height: 88%;
        overflow: hidden;
    }

}




