body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 1.5
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header{
    background-image: linear-gradient(-90deg,#780206, #061161);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}
header h1{
    color: white
}
header nav{
    float: right;
}

#logo{
    float: left;
}

ul{
    padding-top: 30px;
    margin: 0
}

header ul li{
    display: inline;
    padding: 0 10px 0 10px
}

header ul li a{
    text-decoration: none;
    color: #d2cece;
    font-size: 18px;
    text-transform: uppercase;
}

header ul li a:hover{
    color: white;
}

header .menu{
    display: none;
}

header .close{
    display: none;
}

header .navbar{
    display: none;
}

.intro{
    background-color: #061161;
    width: 60%;
    top: 74px;
    position: fixed;
    left: 0px;
    color: white;
    bottom: 0px;
}

.intro p{
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.5;
}
section button{
    background-image: linear-gradient(-90deg, #061161, #780206);
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

#welcome{
    padding-top: 180px;
    padding-left: 30px
}

.right-side{
    width: 40%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    top:74px;
}

.right-side img{
    width: 100%;
    height: 100%;
}

#photo{
    width: 100%;
    height: 100%;
}

/*Media queries*/
@media(max-width: 768px){
    .container{
        width: 90%;
        margin: auto;
    }
    .intro{
        width: 100%;
        position: absolute;
        z-index: 0;

    }
    .right-side{
        display: none;
    }
    header .menu{
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 17px; 
    }

    header .menu img{
        width: 100%;
        height: 100%
    }

    header nav ul li{
        display: none;
    }

    .navbar {
        display: block;
        background:#061161;
        width: 45%;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0px 0px 8px 2px #061161;
       transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -webkit-transition: transform 0.6s ease;
        transition: transform 0.5s ease;
        
    }

    .admin-nav-side{
        display: block;
        margin-top: 20px;
        color: #fff;
        font-size: 21px;
    }

    .navbar ul{
        margin-top: 60px;
        margin-left: 20px;
    }
    .navbar a{
        text-decoration: none;
    }

    .close{
        display: block;
        margin: 10px;
        font-size: 25px;
        right: 0;
        top: 0;
        cursor: pointer;
        position: fixed;
        border: 1px solid #fff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        color: white
        
    }

}




